<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="robots" content="index, follow, all" />
    <title>Keboola\Component\BaseComponent | php-docker-application</title>

            <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../../css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="../../css/sami.css">
        <script src="../../js/jquery-1.11.1.min.js"></script>
        <script src="../../js/bootstrap.min.js"></script>
        <script src="../../js/typeahead.min.js"></script>
        <script src="../../sami.js"></script>
        <meta name="MobileOptimized" content="width">
        <meta name="HandheldFriendly" content="true">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    
    
    </head>

    <body id="class" data-name="class:Keboola_Component_BaseComponent" data-root-path="../../">
            <div id="content">
        <div id="left-column">
                <div id="control-panel">
                    <form action="#" method="GET">
                <select id="version-switcher" name="version">
                                            <option value="../../../debug-tag-0.1/index.html" data-version="debug-tag-0.1">debug-tag-0.1</option>
                                            <option value="../../../1.0.0/index.html" data-version="1.0.0">1.0.0</option>
                                            <option value="../../../2.0.0/index.html" data-version="2.0.0">2.0.0</option>
                                            <option value="../../../2.1.0/index.html" data-version="2.1.0">2.1.0</option>
                                            <option value="../../../3.0.0/index.html" data-version="3.0.0">3.0.0</option>
                                            <option value="../../../4.0.0/index.html" data-version="4.0.0">4.0.0</option>
                                            <option value="../../../4.1.0/index.html" data-version="4.1.0">4.1.0</option>
                                            <option value="../../../4.1.1/index.html" data-version="4.1.1">4.1.1</option>
                                            <option value="../../../4.2.0/index.html" data-version="4.2.0">4.2.0</option>
                                            <option value="../../../4.3.0/index.html" data-version="4.3.0">4.3.0</option>
                                            <option value="../../../4.4.0/index.html" data-version="4.4.0">4.4.0</option>
                                            <option value="../../../4.4.1/index.html" data-version="4.4.1">4.4.1</option>
                                            <option value="../../../4.4.2/index.html" data-version="4.4.2">4.4.2</option>
                                            <option value="../../../5.0.0/index.html" data-version="5.0.0">5.0.0</option>
                                            <option value="../../../6.0.0/index.html" data-version="6.0.0">6.0.0</option>
                                            <option value="../../../6.0.1/index.html" data-version="6.0.1">6.0.1</option>
                                            <option value="../../../7.0.0/index.html" data-version="7.0.0">7.0.0</option>
                                            <option value="../../../7.0.1/index.html" data-version="7.0.1">7.0.1</option>
                                            <option value="../../../7.0.2/index.html" data-version="7.0.2">7.0.2</option>
                                            <option value="../../../7.0.3/index.html" data-version="7.0.3">7.0.3</option>
                                            <option value="../../../master/index.html" data-version="master">master branch</option>
                                    </select>
            </form>
                <script>
            $('option[data-version="'+window.projectVersion+'"]').prop('selected', true);
        </script>
        <form id="search-form" action="../../search.html" method="GET">
            <span class="glyphicon glyphicon-search"></span>
            <input name="search"
                   class="typeahead form-control"
                   type="search"
                   placeholder="Search">
        </form>
    </div>

                <div id="api-tree"></div>

        </div>
        <div id="right-column">
                <nav id="site-nav" class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-elements">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../../index.html">php-docker-application</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-elements">
                <ul class="nav navbar-nav">
                    <li><a href="../../classes.html">Classes</a></li>
                                            <li><a href="../../namespaces.html">Namespaces</a></li>
                                        <li><a href="../../interfaces.html">Interfaces</a></li>
                    <li><a href="../../traits.html">Traits</a></li>
                    <li><a href="../../doc-index.html">Index</a></li>
                    <li><a href="../../search.html">Search</a></li>
                </ul>
            </div>
        </div>
    </nav>

                        <div class="namespace-breadcrumbs">
            <ol class="breadcrumb">
                <li><span class="label label-default">class</span></li>
                        <li><a href="../../Keboola.html">Keboola</a></li><li class="backslash">\</li><li><a href="../../Keboola/Component.html">Component</a></li><li class="backslash">\</li><li>BaseComponent</li>
            </ol>
        </div>
                <div id="page-content">
                
    <div class="page-header">
        <h1>
            BaseComponent
                
        </h1>
    </div>

    <p>    class
    <strong>BaseComponent</strong>
</p>

        
    

            <div class="description">
            <p>This is the core class that does all the heavy lifting. By default you don't need to setup anything. There are some
extension points for you to use if you want to customise the behavior.</p>                                </div>
    
    
    
    
            <h2>Methods</h2>

            <div class="container-fluid underlined">
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method___construct">__construct</a>(<abbr title="Psr\Log\LoggerInterface">LoggerInterface</abbr> $logger)
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    static&nbsp;void
                </div>
                <div class="col-md-8 type">
                    <a href="#method_setEnvironment">setEnvironment</a>()
        
                                            <p>Prepares environment. Sets error reporting for the app to fail on any
error, warning or notice. If your code emits notices and cannot be
fixed, you can set <code>error_reporting</code> in <code>$application-&gt;run()</code> method.</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8 type">
                    <a href="#method_loadConfig">loadConfig</a>()
        
                                            <p>Automatically loads configuration from datadir, instantiates specified
config class and validates it with specified confing definition class</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8 type">
                    <a href="#method_loadInputState">loadInputState</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8 type">
                    <a href="#method_writeOutputStateToFile">writeOutputStateToFile</a>(array $state)
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    array
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getRawConfig">getRawConfig</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    string
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getConfigDefinitionClass">getConfigDefinitionClass</a>()
        
                                            <p>Override this method if you have custom config definition class. This
allows you to validate and require config parameters and fail fast if
there is a missing parameter.</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8 type">
                    <a href="#method_setConfig">setConfig</a>(<a href="../../Keboola/Component/Config/BaseConfig.html"><abbr title="Keboola\Component\Config\BaseConfig">BaseConfig</abbr></a> $config)
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8 type">
                    <a href="#method_setDataDir">setDataDir</a>(string $dataDir)
        
                                            <p>Data dir is set without the trailing slash</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    string
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getDataDir">getDataDir</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    <a href="../../Keboola/Component/Config/BaseConfig.html"><abbr title="Keboola\Component\Config\BaseConfig">BaseConfig</abbr></a>
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getConfig">getConfig</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    <a href="../../Keboola/Component/Manifest/ManifestManager.html"><abbr title="Keboola\Component\Manifest\ManifestManager">ManifestManager</abbr></a>
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getManifestManager">getManifestManager</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    <abbr title="Psr\Log\LoggerInterface">LoggerInterface</abbr>
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getLogger">getLogger</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    array
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getInputState">getInputState</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8 type">
                    <a href="#method_run">run</a>()
        
                                            <p>This is the main method for your code to run in. You have the <code>Config</code>
and <code>ManifestManager</code> ready as well as environment set up.</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    string
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getConfigClass">getConfigClass</a>()
        
                                            <p>Class of created config. It's useful if you want to implment getters for
parameters in your config. It's prefferable to accessing configuration
keys as arrays.</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8 type">
                    <a href="#method_loadManifestManager">loadManifestManager</a>()
        
                                            <p>Loads manifest manager with application's datadir</p>                </div>
                <div class="col-md-2"></div>
            </div>
            </div>


        <h2>Details</h2>

            <div id="method-details">
                    <div class="method-item">
                    <h3 id="method___construct">
        <div class="location">at         line 37</div>
        <code>                    
    <strong>__construct</strong>(<abbr title="Psr\Log\LoggerInterface">LoggerInterface</abbr> $logger)
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td><abbr title="Psr\Log\LoggerInterface">LoggerInterface</abbr></td>
                <td>$logger</td>
                <td></td>
            </tr>
            </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_setEnvironment">
        <div class="location">at         line 58</div>
        <code>        static            void
    <strong>setEnvironment</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Prepares environment. Sets error reporting for the app to fail on any
error, warning or notice. If your code emits notices and cannot be
fixed, you can set <code>error_reporting</code> in <code>$application-&gt;run()</code> method.</p>                                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_loadConfig">
        <div class="location">at         line 76</div>
        <code>            protected        void
    <strong>loadConfig</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Automatically loads configuration from datadir, instantiates specified
config class and validates it with specified confing definition class</p>                                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_loadInputState">
        <div class="location">at         line 91</div>
        <code>            protected        void
    <strong>loadInputState</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_writeOutputStateToFile">
        <div class="location">at         line 100</div>
        <code>            protected        void
    <strong>writeOutputStateToFile</strong>(array $state)
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>array</td>
                <td>$state</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getRawConfig">
        <div class="location">at         line 108</div>
        <code>            protected        array
    <strong>getRawConfig</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>array</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getConfigDefinitionClass">
        <div class="location">at         line 118</div>
        <code>            protected        string
    <strong>getConfigDefinitionClass</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Override this method if you have custom config definition class. This
allows you to validate and require config parameters and fail fast if
there is a missing parameter.</p>                                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_setConfig">
        <div class="location">at         line 123</div>
        <code>            protected        void
    <strong>setConfig</strong>(<a href="../../Keboola/Component/Config/BaseConfig.html"><abbr title="Keboola\Component\Config\BaseConfig">BaseConfig</abbr></a> $config)
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td><a href="../../Keboola/Component/Config/BaseConfig.html"><abbr title="Keboola\Component\Config\BaseConfig">BaseConfig</abbr></a></td>
                <td>$config</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_setDataDir">
        <div class="location">at         line 133</div>
        <code>            protected        void
    <strong>setDataDir</strong>(string $dataDir)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Data dir is set without the trailing slash</p>                                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$dataDir</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getDataDir">
        <div class="location">at         line 138</div>
        <code>                    string
    <strong>getDataDir</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getConfig">
        <div class="location">at         line 143</div>
        <code>                    <a href="../../Keboola/Component/Config/BaseConfig.html"><abbr title="Keboola\Component\Config\BaseConfig">BaseConfig</abbr></a>
    <strong>getConfig</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td><a href="../../Keboola/Component/Config/BaseConfig.html"><abbr title="Keboola\Component\Config\BaseConfig">BaseConfig</abbr></a></td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getManifestManager">
        <div class="location">at         line 148</div>
        <code>                    <a href="../../Keboola/Component/Manifest/ManifestManager.html"><abbr title="Keboola\Component\Manifest\ManifestManager">ManifestManager</abbr></a>
    <strong>getManifestManager</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td><a href="../../Keboola/Component/Manifest/ManifestManager.html"><abbr title="Keboola\Component\Manifest\ManifestManager">ManifestManager</abbr></a></td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getLogger">
        <div class="location">at         line 153</div>
        <code>                    <abbr title="Psr\Log\LoggerInterface">LoggerInterface</abbr>
    <strong>getLogger</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td><abbr title="Psr\Log\LoggerInterface">LoggerInterface</abbr></td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getInputState">
        <div class="location">at         line 158</div>
        <code>                    array
    <strong>getInputState</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>array</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_run">
        <div class="location">at         line 167</div>
        <code>                    void
    <strong>run</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>This is the main method for your code to run in. You have the <code>Config</code>
and <code>ManifestManager</code> ready as well as environment set up.</p>                                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getConfigClass">
        <div class="location">at         line 177</div>
        <code>            protected        string
    <strong>getConfigClass</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Class of created config. It's useful if you want to implment getters for
parameters in your config. It's prefferable to accessing configuration
keys as arrays.</p>                                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_loadManifestManager">
        <div class="location">at         line 185</div>
        <code>            protected        void
    <strong>loadManifestManager</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Loads manifest manager with application's datadir</p>                                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
            </div>

    
            </div>
                <div id="footer">
        Generated by <a href="http://sami.sensiolabs.org/">Sami, the API Documentation Generator</a>.
    </div>

        </div>
    </div>
    </body>

</html>
